.navBarBox {
	height: 55px;
	width: 100%;
	background-color: #3b579d;
	display: flex;
	align-items: center; /* Center items vertically */
	position: sticky;
	top: 0;
	z-index: 100;
}

.navBarBox a {
	text-decoration: none;
	color: #fff;
}

.navBarLeft {
	flex: 2;
	font-family: Arial, Helvetica, sans-serif;
	display: flex; /* Ensure children are flex items */
	align-items: center; /* Center children vertically */
}

.navBarCenter {
	flex: 5;
	margin-top: 10px;
	display: flex; /* Ensure children are flex items */
	align-items: center; /* Center children vertically */
}

.navBarRight {
	flex: 2;
	display: flex;
	align-items: center;
	color: #fff;
}

.navBarIcons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 20px;
}

.navIcon {
	cursor: pointer;
	margin-left: 20px;
}

.navBarLinks {
	margin-left: 10px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 200;
}

.navLink {
	padding-left: 20px;
}

.profilePicImg {
	width: 38px;
	height: 38px;
	object-fit: cover;
	border-radius: 50%;
	margin-left: 30px;
}

.logo {
	font-size: 38px;
	color: #fff;
	margin-left: 10px;
	font-weight: 600;
	cursor: pointer;
	font-family: Segoe UI;
}

.searchBox {
	display: flex;
	align-items: center;
	width: 80%;
	height: 30px;
	background-color: #fff;
	border-radius: 20px;
}

.schIcon {
	padding-left: 10px;
}

.schInput {
	border: none;
	width: 80%;
}

.schInput:focus {
	outline: none;
}

.iconTag {
	display: flex;
	font-weight: bold;
	width: 17px;
	height: 17px;
	background-color: red;
	color: #fff;
	position: absolute;
	border-radius: 50%;
	justify-content: center;
	align-items: flex-start;
	margin-left: 15px;
	margin-top: -30px;
	font-size: small;
}

.notifications {
	position: absolute;
	top: 40px;
	right: 0;
	width: 300px;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	z-index: 500;
	border-radius: 5px;
}

.mobileMenuIcon {
	display: none;
	cursor: pointer;
	margin-left: 20px;
}

.mobileMenu {
	position: absolute;
	top: 55px;
	right: 0;
	background-color: #3b579d;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 100;
}

.mobileMenuItem {
	padding: 10px;
	width: 100%;
	text-align: center;
	border-top: 1px solid #fff;
	color: #fff;
}

@media (max-width: 512px) {
	.navBarCenter {
		display: none;
	}

	.mobileMenuIcon {
		display: block;
	}

	.navBarRight {
		flex: 1;
		justify-content: flex-end;
	}

	.profilePicImg {
		margin-left: 10px;
	}

	.mobileMenu .searchBox {
		margin: 10px 30px 0 0;
		width: 80%;
	}
}

@media (min-width: 513px) and (max-width: 768px) {
	.navBarLeft {
		display: none;
	}
}
